@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #000000;
  --foreground: #ededed;
}

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* border: 1px solid red; */
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Sans font classes */
.sans {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Mono font classes */
.mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Serif font classes */
.serif {
  font-family: "Crimson Pro", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

code {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Text gradient */
.text-gradient-1 {
  background: linear-gradient(135deg, #FF6B6B 0%, #4ECDC4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 8s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hover-effect {
  border-color: rgb(var(--primary-color) / 0.4);
  box-shadow: 
    0 0 15px color-mix(in srgb, var(--primary-color) 50%, transparent),
    0 0 15px color-mix(in srgb, var(--secondary-color) 50%, transparent);
}
